.flex-container{
    display: flex ;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
   

}
.flex-item{
    background-color: brown;
    margin: 22px;
    height: 70px;
    width: 80px;
}